@media screen  and (min-width: 1280px) {
    .lead__title {
        max-width: 720px;
        max-height: 200px;
        font-style: normal;
        font-weight: 900;
        font-size: 6rem;
        line-height: 93px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .lead__title {
        max-width: 782px;
        font-style: normal;
        font-weight: 900;
        font-size: 6rem;
        line-height: 93px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .lead__title {
        max-width: 928px;
        font-weight: 900;
        font-size: 6rem;
        line-height: 93px;
        text-align: center;
        font-style: normal;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .lead__title {
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        /* or 104% */
        text-align: center;
        width: 720px;
        height: 200px;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 95%;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
    }
}