@media screen  and (min-width: 1280px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        margin-top: 92px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .intro {
        width: 95%;
        margin-left: 0;
        margin-right: auto;
        margin-top: 98px;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .intro {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        width: 100%;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}