.page__container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #2A2C2F;
    color: #FFFFFF;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .page__container {
        width: 100%;
        box-sizing: border-box;
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .page__container {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .page__container {
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }
}

@media screen and (max-width: 425px){
    .page__container {
        width: 100%;
    }
}