@media screen  and (min-width: 1280px) {
    .photo-grid {
        display: flex;
        margin: 88px auto;
        max-width: 1184px;
        overflow: hidden;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .photo-grid {
        display: flex;
        margin: 92px auto;
        max-width: 1184px;
        overflow: hidden;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .photo-grid {
        width: 95%;
        margin-left: 0;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .photo-grid {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        padding: 0;
    }
}